/* Navigation */
.nav {
list-style: none;
padding: 0;
display:flex;
justify-content: center;
background-color:#666A86;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
   /* Hover function */
.nav a:hover {
    background-color: #788AA3;
}

img {
    

}
