   /* Background color */
    body {
        background-color: #C2CAD6;
        margin: 0;
        padding: 0;
    }


/* Navigation */
.nav {
list-style: none;
padding: 0;
display:flex;
justify-content: center;
background-color:#666A86;
float:top;
}

.nav li {
    margin: 100 100px;
}

.nav a {
    display: block;
    padding: 20px 100px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
   /* Hover function */
.nav a:hover {
    background-color: #788AA3;
}

/* Image and image label control */
.image-glasses {

    display: block;
      margin-left: auto;
      margin-right: auto;
       border-radius: 15px;
}

.direct {
text-align: center;
padding-top:100px;
font-size: larger;
font-weight: bold
}

/* TOOLS */
/* Center text */
.center-text {
    text-align: center;
}

